<%= form_with(model: forum, local: true) do |form| %>
<% if forum.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(forum.errors.count, "error") %> prohibited this forum from being saved:</h2>

  <ul>
    <% forum.errors.full_messages.each do |message| %>
    <li>
      <%= message %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>


<div class="field">
  <%= form.text_area :content %>
</div>

<div class="field tag">
  <%= form.label "TAGs (escreva-as separadas por vírgula)" %>
  <%= form.text_field :tag_list %>
</div>

<div class="actions submit">
  <%=form.hidden_field :user_id, :value => current_user.id%>
  <%= button_tag(type: "submit", class: "btn btn-primary botao") do %>
  <i class="fas fa-plus"></i> Postagem
  <% end %>
</div>
<% end %>