<section class="forum">
  <%= render 'shared/sidebar' %>
  <div id="forum" class="container">

    <div class="forum-header">
      <h1> <i class="fas fa-comments"></i>Forum</h1>
      <%= link_to new_forum_path, class: "nav-link" do %>
      <button type="button" class="btn btn-primary button-forum">
        <i class="fas fa-plus"></i>
        Pergunta
      </button>
      <% end %>
    </div>


    <% @forums.each do |f| %>
    <div class="post">
      <div class="user">
        <% if current_user.avatar_url %>
        <%= image_tag f.user.avatar_url %>
        <%else%>
        <%= image_tag 'wolf-avatar.jpg' %>
        <% end %>
        <%= f.user.name %>
      </div>
      <div class="content">
        <%= link_to f.content, f, class: "clampMe clamp-this-module" %>
        <p class="tags">
          TAGs:
          <%= raw f.tag_list.map { |t| link_to t, tag_path(t) }.join(' ') %>
        </p>
      </div>
      <div class="extra-info">
        <div class="info">
          <div class="data">
            <i class="far fa-clock"></i>
            <%=f.created_at.strftime("%d/%m/%Y")%>
          </div>
          <div class="extra">
            <i class="fas fa-thumbs-up"></i>
            <p>
              <%=f.get_upvotes.size%>
            </p>
            <i class="fas fa-thumbs-down"></i>
            <p>
              <%=f.get_downvotes.size%>
            </p>
            <i class="fa fa-comment"></i>
            <p>
              <%=f.notes.count%>
            </p>
          </div>
        </div>
      </div>
    </div>

    <% end %>

  </div>

  <!-- <div id="tag_cloud"> -->
  <!-- <%= link_to "Todos os Posts", forums_path %> -->
  <!-- PROBLEMA PRA ESTILIZAR ABAIXO -->
  <!-- <% tag_cloud Forum.tag_counts, %w[s m l] do |tag, css_class| %> -->
  <!-- PROBLEMA PRA ESTILIZAR ACIMA -->
  <!-- <%= link_to tag.name, tag_path(tag.name), class: css_class %> -->
  <!-- <% end %> -->
  <!-- </div> -->

</section>