<section class="forum">
    <%= render 'shared/sidebar' %>
    <div id="forum" class="container">

        <div class="forum-header">
            <h1> <i class="fas fa-comments"></i>Nova Postagem</h1>
        </div>

        <div class="post new">
            <%= render 'form', forum: @forum %>
        </div>

    </div>

</section>