<section class="forum-individual">
  <%= render 'shared/sidebar' %>
  <div id="forum" class="container">

    <div class="forum-header">
      <h1> <i class="fas fa-comments"></i>Forum</h1>
      <%= link_to "#form-comentario", class: "nav-link" do %>
      <button type="button" class="btn btn-primary button-forum">
        <i class="fas fa-plus"></i>
        Comentário
      </button>
      <% end %>
    </div>


    <div class="post">
      <div class="user">

        <% if @forum.user.avatar_url %>
        <%= image_tag @forum.user.avatar_url %>
        <% else %>
        <%= image_tag "wolf-avatar.jpg" %>
        <% end %>

        <%= @forum.user.name %>
      </div>
      <div class="content">
        <p>
          <%= @forum.content %>
        </p>
        <p class="tags">
          TAGs:
          <%= raw @forum.tag_list.map { |t| link_to t, tag_path(t) }.join(' ') %>
        </p>
      </div>
      <div class="botoes">
        <div class="like">
          <%= link_to like_forum_path(@forum),class:"like-btn", method: :put, remote: :true do %>
          <button type="button" class="btn btn-primary">
            <% if current_user.liked? @forum %>
            <i class="icone fas fa-thumbs-up"></i>
            <%else%>
            <i class="icone far fa-thumbs-up"></i>
            <%end%>
          </button>

          <% end %>
          <span class="likes-count">
            <%= @forum.get_upvotes.size %></span>
        </div>

        <div class="dislike">
          <%= link_to dislike_forum_path(@forum), method: :put, remote: :true do %>
          <button type="button" class="btn btn-primary">
            <% if current_user.disliked? @forum %>
            <i class="icone fas fa-thumbs-down"></i>
            <%else%>
            <i class="icone far fa-thumbs-down"></i>
            <%end%>
          </button>

          <% end %>
          <span class="dislikes-count">
            <%= @forum.get_downvotes.size %></span>
        </div>

        <% if can? :update, Forum %>
        <div class="editar">
          <%= link_to edit_forum_path(@forum) do%>
          <button type="button" class="btn btn-primary">
            <i class="icone fa fa-edit"></i>
          </button>
          <% end %>
        </div>
        <%end%>


        <% if can? :destroy, Forum %> 
        <div class="apagar">
          <%= link_to [@forum], method: :delete, data: {confirm: "Tem certeza?"} do%>
          <button type="button" class="btn btn-primary" data-toggle="modal">
            <i class="fas fa-times"></i>
          </button>
          <%end%>
        </div>
        <%end%>

      </div>

    </div>

    <div class="comentarios">
      <%= render @forum.notes %>
      <div class="form-comentario" id="form-comentario">
        <%= render 'notes/form' %>
      </div>
    </div>


</section>