<% if current_user.liked? @forum %>
    $('.like-btn').removeClass('liked');
    $('.like-btn button').html('<i class="fas fa-thumbs-up"></i>');
<% else %>
    $('.like-btn').addClass('like-btn');
    $('.like-btn button').html('<i class="far fa-thumbs-up"></i>');
<% end %>
$('.likes-count').html("<%=@forum.get_upvotes.size%>");
