<div class="comentario">
    <div class="user">
        
        <% if @forum.user.avatar_url %>
         <%= image_tag @forum.user.avatar_url %>           
            <% else %>
        <%= image_tag "wolf-avatar.jpg" %>            
        <% end %>
        
        <%= @forum.user.name %>
        <div class="data">
            <%= time_ago_in_words(note.created_at) %>
        </div>
    </div>
    <div class="content">
        <p>
            <%= note.body %>
        </p>
    </div>
    
    <% if can? :destroy, note %>
    <div class="apagar">
        <%= link_to [note.forum,note], method: :delete, data: {confirm: "Tem certeza?"} do%>
        <button type="button" class="btn btn-primary" data-toggle="modal">
            <i class="fas fa-times"></i>
        </button>
        <%end%>
    </div>
    <% end %>

</div>