<%= form_with(model: direction, local: true) do |form| %>
  <% if direction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(direction.errors.count, "error") %> prohibited this direction from being saved:</h2>

      <ul>
      <% direction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <h1>Editar diretoria</h1>
    <div class="field">
      <%= form.label :name, "Nome" %>
      <%= form.text_field :name %>
    </div>


    <div class="field">
      <%= form.label :director_id %>
      <%= form.collection_select :director_id,chooses_for_director(@direction),:id , :name, :include_blank => true%>
    </div>
    
    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>
