<section id="content">
  <%= render 'shared/sidebar' %>


  <div id="page-content" class="container">

    <div class="page-header">
      <h1><i class="fas fa-user-tie"></i> Diretoria de <%= @direction.name %></h1>
      <div class="header-buttons">
        <% if can? :manage, @direction%>
          <%= link_to new_direction_goal_path(@direction.short) do %>
            <button type="button" class="btn btn-primary header-button small">
              <i class="fas fa-plus"></i> Meta
            </button>
          <% end %>
          <%= link_to edit_direction_path(@direction) do %>
            <button type="button" class="btn btn-primary header-button small">
              <i class="fas fa-edit"></i>
            </button>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="page-body">
      <% if @direction.director%>
        <div class="head">
          <h2>Diretor</h2>
          <div class="members">
            <div class="member">
              <%= link_to @direction.director do %>
                <% if @direction.director.avatar_url %>
                  <%= image_tag  @direction.director.avatar_url %>
                <% else %>
                  <%= image_tag  "wolf-avatar.jpg" %>
                <% end %>
              <% end %>
              <%= link_to @direction.director do %>
                <%=@direction.director.name%>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

      <% if @direction.director && @direction.users.where.not(id: @direction.director_id) %>
        <div class="separator">
        </div>
      <% end %>

      <% if @direction.users.where.not(id: @direction.director_id).any? %>
        <div class="team">
          <h2>Assessores</h2>
          <div class="members">
            <% for user in @direction.users.where.not(id: @direction.director_id) %>
              <div class="member">
                <%= link_to user do %>
                  <% if user.avatar_url %>
                    <%= image_tag  user.avatar_url %>
                  <% else %>
                    <%= image_tag  "wolf-avatar.jpg" %>
                  <% end %>
                <% end %>
                <%= link_to user do %>
                  <%=user.name%>
                <% end %>
              </div>
            <% end %>

            <% for user in User.where(direction_fusion_id: @direction.id) %>
              <div class="member">
                <% if user.avatar_url %>
                  <%= image_tag  user.avatar_url %>
                <% end %>

                <%= user.name %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if @direction.users.none? %>
        <h3>Ops! Não tem ninguém aqui :(</h3>
      <% end %>

      <% if @direction.goals.any? %>
        <div class="goals">
          <div class="goal-button">
            <h2>Metas<h2>
            <div class="goals-list">
              <% for goal in @direction.goals %>
                <div class="goal-single">
                  <%= link_to edit_goal_path(goal) do %>
                    <button type="button" class="btn btn-primary edit-goal">
                      <i class="fas fa-edit"></i>
                    </button>
                  <% end %>
                  <%= link_to goal_path(goal) do %>
                    <button type="button" class="btn btn-primary edit-goal">
                      <i class="fas fa-external-link-alt"></i>
                    </button>
                  <% end %>
                  <p><%= goal.name %></p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>