<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-type"/>
    </head>

    <body>
        <h1>Novo artigo!</h1>
        <p>
            Um novo artigo chamado <%=@article.title%> sobre <%=@article.area%>
            foi postado na INjunior!
        </p>
    </body>
</html>