<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-type"/>
    </head>

    <body>
        <h1>Nova postagem em Forum!</h1>
        <p>
            Um nova postagem em Forum com as TAGS:<%=@forum.tag_list%>;
            foi postada na INjunior!
        </p>
    </body>
</html>