<div class="comentario">
    <div class="user">
        <% if comment.user.avatar_url %>
         <%= image_tag comment.user.avatar_url %>           
            <% else %>
        <%= image_tag "wolf-avatar.jpg" %>            
        <% end %>
                <%= comment.user.name %>
        <div class="data">
            <%= comment.created_at.strftime("%Y-%m-%d")%>
        </div>
    </div>
    <div class="content">
        <p>
            <%= comment.body %>
        </p>
    </div>

    <% if can? :destroy, comment %>
    <div class="apagar">
        <%= link_to [comment.article,comment], method: :delete, data: {confirm: "Tem certeza?"} do%>
        <button type="button" class="btn btn-primary" data-toggle="modal">
            <i class="fas fa-times"></i>
        </button>
        <%end%>
    </div>
    <%end%>


</div>