<%= form_for([@article, @article.comments.build]) do |f| %>
    <div class="field comment-area">
        <%= f.text_area :body %>
    </div>

    <div class="actions">
        <%=f.hidden_field :user_id, :value => current_user.id%>
        <%= f.submit "Adicionar comentário", class: "btn btn-primary botao"%>
    </div>
<% end %>
