<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <%if current_page?(action:'new')%>
      <h1>Nova tarefa</h1>
    <%else%>
      <h1>Editar tarefa</h1>
    <%end%>
    <div class="field">

      <%= form.hidden_field :goal_id %>
    </div>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.hidden_field :conclusion %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>
