<section id="forms">
    <%= render 'form', task: @task %>
    <%= link_to goal_path(@task.goal) do %>
        <button type="button" class="btn btn-primary back">
            <i class="fas fa-arrow-left"></i>
        </button>
    <% end %>
</section>
