<%= form_with(model: article, local: true) do |form| %>
<% if article.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

  <ul>
    <% article.errors.full_messages.each do |message| %>
    <li>
      <%= message %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>

<div class="field">
  <%= form.cktext_area :body, class: "conteudo-article" %>
</div>

<div class="field">
  <%= form.label :area %>
  <%= form.text_field :area %>
</div>

<div class="actions">
  <%= form.hidden_field :user_id, :value => current_user.id%>
  <%= button_tag(type: "submit", class: "btn btn-primary botao") do %>
  <i class="fas fa-plus"></i> Artigo
  <% end %>
</div>
<% end %>