<section class="artigos">
    <%= render 'shared/sidebar' %>

    <div id="artigos" class="container">
        <div class="artigo-header">
            <h1> <i class="fas fa-newspaper"></i> Editar artigo</h1>
        </div>

            <div class="artigo-new">
                <%= render 'form', article: @article %>
            </div>

    </div>


</section>