<section class="artigos">
  <%= render 'shared/sidebar' %>
  <div id="artigos">

    <% @articles.each do |article| %>
    <div class="artigo">
      <div class="title">
        <%= link_to article_path(article.id) do %>
        <p><i class="fas fa-chalkboard-teacher"></i>
          <%= article.title %>
        </p>
        <%end%>
      </div>

      <div class="area">
        <p>Área:
          <%= article.area %>
        </p>
      </div>

      <div class="content">
        <%= raw article.body %>
      </div>

      <div class="footer-artigo">
        <div class="user">

          <% if article.user.avatar_url %>
          <%= image_tag article.user.avatar_url %>
          <% else %>
          <%= image_tag "wolf-avatar.jpg" %>
          <% end %>
          
          <div class="info">
            <div class="quem">
              <p>Postado por
                <%= link_to article.user.name, user_path(article.user.id), class: "nome" %>
              </p>
            </div>
            <div class="data">
              <i class="far fa-clock"></i>
              <%=article.created_at.strftime("%Y-%m-%d")%>

            </div>
          </div>

        </div>

        <div class="botoes">
          <div class="like">
            <%= link_to like_article_path(article),class:"like-btn", method: :put, remote: :true do %>
            <button type="button" class="btn btn-primary">
              <% if current_user.liked? article %>
              <i class="icone fas fa-thumbs-up"></i>
              <%else%>
              <i class="icone far fa-thumbs-up"></i>
              <%end%>
            </button>

            <% end %>
            <span class="likes-count">
              <%= article.get_upvotes.size %></span>
          </div>

          <div class="dislike">
            <%= link_to dislike_article_path(article), method: :put, remote: :true do %>
            <button type="button" class="btn btn-primary">
              <% if current_user.disliked? article %>
              <i class="icone fas fa-thumbs-down"></i>
              <%else%>
              <i class="icone far fa-thumbs-down"></i>
              <%end%>
            </button>

            <% end %>
            <span class="dislikes-count">
              <%= article.get_downvotes.size %></span>
          </div>

          <div class="comment">
            <%= link_to article_path(article) do %>
            <button type="button" class="btn btn-primary">
              <i class="icone far fa-comment"></i>
            </button>

            <% end %>
            <span class="comment-count">
              <%= article.comments.count %></span>
          </div>

        </div>

        <!-- <% if can? :update, article %> -->
        <!-- <%= link_to 'Edit', edit_article_path(article) %> -->
        <!-- <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %> -->
        <!-- <%end%> -->
        <!-- </div> -->

      </div>


    </div>
    <% end %>

  </div>


  </div>
</section>