<section class="artigo-individual artigos">
  <%= render 'shared/sidebar' %>
  <div id="artigo" class="container">

    <div class="artigo-header">
      <h1> <i class="fas fa-chalkboard-teacher"></i> Artigo de
        <%= @article.user.name %>
      </h1>

      <%= link_to "#form-comentario", class: "nav-link" do %>
      <button type="button" class="btn btn-primary button-artigo">
        <i class="fas fa-plus"></i>
        Comentário
      </button>
      <% end %>
    </div>


    <div class="artigo">
      <div class="title">
        <p>
          <%= @article.title %>
        </p>
      </div>

      <div class="data">
        <i class="far fa-clock"></i>
        <%= @article.created_at.strftime("%d/%m/%Y")%>
      </div>

      <div class="area">
        <p>Área:
          <%= @article.area %>
        </p>
      </div>

      <div class="content">
        <%= raw @article.body %>
      </div>

      <div class="botoes">
        <div class="like">
          <%= link_to like_article_path(@article),class:"like-btn", method: :put, remote: :true do %>
          <button type="button" class="btn btn-primary">
            <% if current_user.liked? @article %>
            <i class="icone fas fa-thumbs-up"></i>
            <%else%>
            <i class="icone far fa-thumbs-up"></i>
            <%end%>
          </button>

          <% end %>
          <span class="likes-count">
            <%= @article.get_upvotes.size %></span>
        </div>

        <div class="dislike">
          <%= link_to dislike_article_path(@article), method: :put, remote: :true do %>
          <button type="button" class="btn btn-primary">
            <% if current_user.disliked? @article %>
            <i class="icone fas fa-thumbs-down"></i>
            <%else%>
            <i class="icone far fa-thumbs-down"></i>
            <%end%>
          </button>

          <% end %>
          <span class="dislikes-count">
            <%= @article.get_downvotes.size %></span>
        </div>

        <div class="comment">
          <%= link_to "#form-comentario" do %>
          <button type="button" class="btn btn-primary">
            <i class="icone far fa-comment"></i>
          </button>

          <% end %>
          <span class="comment-count">
            <%= @article.comments.count %></span>
        </div>

        <% if can? :update, @article %>
        <div class="editar">
          <%= link_to edit_article_path(@article) do%>
          <button type="button" class="btn btn-primary">
            <i class="icone fa fa-edit"></i>
          </button>
          <% end %>
        </div>

        <div class="apagar">
          <%= link_to [@article], method: :delete, data: {confirm: "Tem certeza?"} do%>
          <button type="button" class="btn btn-primary" data-toggle="modal">
            <i class="fas fa-times"></i>
          </button>
          <%end%>
        </div>

        <%end%>



      </div>

    </div>

    <div class="comentarios">
      <%= render @article.comments %>
      <div class="form-comentario" id="form-comentario">
          <%= render 'comments/form' %>
      </div>
    </div>
  </div>


</section>