<%= form_with(model: cellule, local: true) do |form| %>
  <% if cellule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cellule.errors.count, "error") %> prohibited this cellule from being saved:</h2>

      <ul>
      <% cellule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="container">
    <%if current_page?(action:'new')%>
      <h1>Nova célula</h1>
    <%else%>
      <h1>Editar célula</h1>
    <%end%>
    <div class="field">
      <h3><%= form.label :manager_id %></h3>
      <%= form.collection_select :manager_id,User.all,:id , :name, :include_blank => true%>
    </div>
    
    <div class="field">
      <h3><%= form.label :direction_id%></h3>
      <%= form.collection_select :direction_id, Direction.all,:id, :name, :include_blank => true %>
    </div>

    <div class="field">
      <h3><%= form.label :name, "Nome" %></h3>
      <%= form.text_field :name %>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>
