<section id="content" class="celulas">
  <%= render 'shared/sidebar' %>


  <div id="page-content" class="container">

    <div class="page-header">
      <h1> <i class="fas fa-boxes"></i> Células</h1>
      <%if can? :create, Cellule%>
      <%= link_to new_cellule_path, class: "nav-link" do %>
      <button type="button" class="btn btn-primary header-button">
        <i class="fas fa-plus"></i> Célula
      </button>
      <% end %>
      <%end%>
    </div>

    <div class="page-body">
      <table>
        <thead>
          <th>Celula</th>
          <th>Gerente</th>
        </thead>
        <% for cellule in @cellules%>
        <tr>
          <td>
            <%=link_to cellule.name, cellule_path(cellule)%>
          </td>
          <td>
            <% if cellule.manager %>
              <%=link_to cellule.manager.name, user_path(cellule.manager.id)%>
            <% else %>
              Posição vaga
            <% end %>
          </td>
        </tr>
        <%end%>
      </table>

    </div>
  </div>
</section>