<section id="forms">
    <%= render 'form', cellule: @cellule %>
    <%= link_to cellules_path do %>
        <button type="button" class="btn btn-primary back">
            <i class="fas fa-arrow-left"></i>
        </button>
    <% end %>
</section>
