<section id="content">
  <%= render 'shared/sidebar' %>


  <div id="page-content" class="container">

    <div class="page-header">
      <h1><i class="fas fa-boxes"></i> Célula de <%= @cellule.name %></h1>
      <div class="header-buttons">
        <% if can? :manage, @cellule%>
          <%= link_to new_cellule_goal_path(@cellule.id) do %>
            <button type="button" class="btn btn-primary header-button small">
              <i class="fas fa-plus"></i> Meta
            </button>
          <% end %>
          <%= link_to edit_cellule_path(@cellule) do %>
            <button type="button" class="btn btn-primary header-button small">
              <i class="fas fa-edit"></i>
            </button>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="page-body">
      <% if @cellule.manager %>
        <div class="head">
          <h2>Gerente</h2>
          <div class="members">
            <div class="member">
              <%= link_to @cellule.manager do %>
                <% if @cellule.manager.avatar_url %>
                  <%= image_tag  @cellule.manager.avatar_url %>
                <% else %>
                  <%= image_tag  "wolf-avatar.jpg" %>
                <% end %>
              <% end %>
              <%= link_to @cellule.manager do %>
                <%= @cellule.manager.name %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

      <% if @cellule.manager && @cellule.users.where.not(id: @cellule.manager_id).any? %>
        <div class="separator">
        </div>
      <% end %>

      <% if @cellule.users.where.not(id: @cellule.manager_id).any? %>
        <div class="team">
          <h2>Membros</h2>
          <div class="members">
            <% for user in @cellule.users.where.not(id: @cellule.manager_id)%>
              <div class="member">
                <%= link_to user do%>
                  <% if user.avatar_url %>
                    <%= image_tag  user.avatar_url %>
                  <% else %>
                    <%= image_tag  "wolf-avatar.jpg" %>
                  <% end %>
                <% end %>
                <%= link_to user do%>
                  <%=user.name%>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if @cellule.name == "Criação" %>
        <% if @cellule.users.where.not(id: @cellule.manager_id).any? %>
          <div class="team">
            <h2>Membros</h2>
            <div class="members">
              <% for user in User.where.not(creation: nil) %>
                <% if user.id != @cellule.manager_id %>
                  <div class="member">
                    <%= link_to user do%>
                      <% if user.avatar_url %>
                        <%= image_tag  user.avatar_url %>
                      <% else %>
                        <%= image_tag  "wolf-avatar.jpg" %>
                      <% end %>
                    <% end %>
                    <%= link_to user do%>
                      <%=user.name%>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if @cellule.users.none? %>
        <h3>Ops! Não tem ninguém aqui :(</h3>
      <% end %>

      <% if @cellule.goals.any? %>
        <div class="goals">
          <div class="goal-button">
            <h2>Metas<h2>
            <div class="goals-list">
              <% for goal in @cellule.goals %>
                <div class="goal-single">
                  <%= link_to edit_goal_path(goal) do %>
                    <button type="button" class="btn btn-primary edit-goal">
                      <i class="fas fa-edit"></i>
                    </button>
                  <% end %>
                  <%= link_to goal_path(goal) do %>
                    <button type="button" class="btn btn-primary edit-goal">
                      <i class="fas fa-external-link-alt"></i>
                    </button>
                  <% end %>
                  <p><%= goal.name %></p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</section>