<%= form_with(model: user, local: true) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <%if current_page?(action:'new')%>
      <h1>Novo membro</h1>
    <%else%>
      <h1>Editar membro</h1>
    <%end%>

    <div class="field">
      <h3><%= f.label :name, "Nome" %></h3>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <h3><%= f.label :email, "E-mail" %></h3>
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <h3><%= f.label :password, "Senha" %></h3>
      <% if @minimum_password_length %>
        <p class="password-alert">(<%= @minimum_password_length %> characters minimum)</p>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <h3><%= f.label :password_confirmation, "Confirmar senha" %></h3>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <%if current_user.admin?%>
      <div class="field">
        <h3><%= f.label :kind, "Posição" %></h3>
        <%= f.select :kind, user_kind_option %>
      </div>
    <% end %>
      
    <div class="field">
      <h3><%= f.label :direction, "Diretoria" %></h3>
      <%= f.collection_select :direction_id, Direction.all, :id , :name, :include_blank => true%>
    </div>

    <div class="field">
      <h3><%= f.label :cellule_id, "Célula de Projetos" %></h3>
      <%= f.collection_select :cellule_id, Cellule.where.not(name: 'Criação'), :id , :name, :include_blank => true%>
    </div>

    <div class="field">
      <h3><%= f.label :creation_id, "Célula compartilhada" %></h3>
      <%= f.collection_select :creation_id, Cellule.where(name: "Criação"), :id , :name, :include_blank => true%>
    </div>

    <div class="field">
      <%= f.fields_for :skills do |builder| %>
        <%= render 'skill_fields', f: builder %>
      <% end %>
      <%= link_to_add_fields "Add Skill", f, :skills %>
    </div>
    
    <div class="field">
      <h3 class="file-upload"><%= f.label :avatar, "Avatar" %></h3>
      <%= image_tag(@user.avatar_url) if @user.avatar? %>
      <%= f.file_field :avatar %>  
      <%= f.hidden_field :avatar_cache %>
    </div>

    <div class="actions">
      <%= f.submit "Salvar" %>
    </div>
  <% end %>
</div>