<section class="fusao" id="content">
  <%= render 'shared/sidebar' %>
  <div id="fusao page-content" class="container">

    <div class="fusao-header page-header">
      <h1> <i class="fas fa-exchange-alt"></i> Fusão de diretorias</h1>
    </div>

    <div class="new page-body">
      <%= form_with(model: @user, local: true) do |form| %>

      <div class="field">
        <%= form.label :direction_fusion, "Mudar para diretoria de"%>
        <%= form.collection_select :direction_fusion_id, Direction.where.not(id: @user.direction.id), :id , :name, :include_blank => true%>
      </div>

      <div class="actions submit">
        <%= button_tag(type: "submit", class: "btn btn-primary botao") do %>
        <i class="fas fa-plus"></i> Fusão
        <% end %>
      </div>

      <%end%>
    </div>

  </div>

</section>