<section class="usuarios">
  <%= render 'shared/sidebar' %>
  <div id="usuarios">

      <div class="usuarios-header">
        <h1> <i class="fas fa-user"></i> Usuários</h1>
        <%if can? :create, User%>
        <%= link_to new_user_path, class: "nav-link" do %>
        <button type="button" class="btn btn-primary button-membro">
          <i class="fas fa-plus"></i>
          Usuário
        </button>
        <% end %>
        <%end%>
      </div>


    <div class="todos-usuarios">
      <% @users.each do |user| %>
      <%= link_to user_path(user.id) do %>
      <div class="usuario">
        <% if user.avatar_url %>
        <%= image_tag user.avatar_url %>
        <% else %>
        <%= image_tag "wolf-avatar.jpg"%>
        <% end %>
        <%= user.name %>
      </div>
      <%end%>
      <%end%>
    </div>


  </div>
</section>