<section id="forms">
    <%= render 'form', user: @user %>
    <%= link_to users_path do %>
        <button type="button" class="btn btn-primary back">
            <i class="fas fa-arrow-left"></i>
        </button>
    <% end %>
</section>
