<section id="content">
  <%= render 'shared/sidebar' %>
  <div id="page-content" class="container">
    <div class="profile-header">
      <% if @user.avatar_url %>
        <%= image_tag  @direction.director.avatar_url %>
      <% else %>
        <%= image_tag  "wolf-avatar.jpg" %>
      <% end %>

      <h1><%= @user.name %></h1>

      <% if can? :update, @user%>
        <%= link_to edit_user_path(@user) do %>
          <button type="button" class="btn btn-primary edit">
            <i class="far fa-edit"></i>
          </button>
        <% end %>

        <% if @user.direction%>
          <% if !@user.direction_fusion%>
            <%= link_to change_user_path(@user) do %>
              <button type="button" class="btn btn-primary fusion">
                <i class="fas fa-exchange-alt"></i>
              </button>
            <% end %>
          <% else %>
            <div class="fusion-buttons">
              <%= link_to give_up_user_path, method: :post do %>
                <button type="button" class="btn btn-primary fusion">
                  <i class="fas fa-times"></i>
                </button>
              <% end %>
              <%= link_to accept_user_path, method: :post do %>
                <button type="button" class="btn btn-primary fusion">
                  <i class="fas fa-check"></i>
                </button>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="profile-body">
      <table class="info">
        <tr>
          <% if @user.direction%>
            <% if @user.direction_fusion %>
              <td><p>Antiga diretoria:</p> <% @user.direction.name %></td>
            <% else %>
              <td><p>Diretoria:</p> <%= @user.direction.name %></td>
              <% end %>
          <% end %>
  
          <% if @user.kind == 'director' %>
            <td><p>Encargo:</p> Direção</td> 
          <% else %>
            <td><p>Encargo:</p> Assessoria</td>
          <% end %>

          <% if @user.direction_fusion %>
            <td><p>Nova Diretoria:</p> <%= @user.direction_fusion.name %></td>
          <% end %>
        </tr>
      </table>

      <% if @user.skills.any? %>
        <div class="skills">
          <p>Habilidades:</p> <%= @user.skills.map{ |skill| skill.name }.join(', ') %></p>
        </div>
      <% end %>

      <% if @user.cellule || @user.creation %>
        <div class="cells">
          <p>Células:</p>
          <% if @user.cellule && @user.creation%>
            <%= @user.cellule.name %> e <%= @user.creation.name%>
          <% elsif @user.cellule %>
            <%=@user.cellule.name%>
          <% else%>
            <%= @user.creation.name%>
          <% end%>
        </div>
      <% end %>

      <% if @user.projects.any? %>
        <div class="projects">
          <h2><i class="fas fa-code"></i> Projetos</h2>
          <% if @user.projects.where.not(condition: 'finished').any? %>
            <div class="ongoing">
              <h3>Em andamento</h4>
              <table>
                <% for project in @user.projects.where.not(condition: 'finished')%>
                  <tr><td><%= link_to project.name, project %></td></tr>
                <% end %>
              </table>
            </div>
          <% end %>
          <% if @user.projects.where(condition: 'finished').length > 0 %>
            <div class="finished">
              <h3>Concluídos</h3>
              <table>
                <% for project in @user.projects.where(condition: 'finished')%>
                  <tr><td><%= project.name%></td></tr>
                <% end%>
              </table>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if @user.history_cellules.any? || @user.direction_users.any? %>
        <div class="history">
          <h2><i class="fas fa-history"></i> Histórico</h2>
          <% if @user.direction_users.any? %>
            <div class="history-d">
              <h3>Diretorias</h3>
              <table>
                <% @aux=nil %>
                <thead>
                  <th>Diretoria</th>
                  <th>Data</th>
                </thead>
                <tbody>
                  <% for direction_user in @user.direction_users%>
                    <%if @aux==Direction.find_by(id: direction_user.direction_id)%>
                      <%next%>
                    <% end %>
                    <%@aux=Direction.find_by(id: direction_user.direction_id)%>
                    <tr>
                      <td><%= @aux.name%></td>
                      <td><%=l @aux.updated_at.to_date%></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          <% end %>

          <% if @user.history_cellules.any? %>
            <div class="history-c">
              <h3>Células</h3>
              <table>
                <% @aux=nil %>
                <thead>
                  <th>Célula</th>
                  <th>Data</th>
                </thead>
                <tbody>
                  <% for history in @user.history_cellules%>
                    <% if !@aux%>
                      <%@aux=history%>
                    <% end %>
                    <% if !(@aux.cellule_id!=history.cellule_id || @aux.creation_id!=history.creation_id)%>
                      <% next %>
                    <% end %>
                    <% if history.cellule_id%>
                      <tr>
                        <td><%=history.cellule.name%></td>
                        <td><%=l history.updated_at.to_date%></td>
                      <tr>
                    <%end%>
                    <% if history.creation_id%>
                      <tr>
                        <td><%=history.creation.name%></td>
                        <td><%=l history.updated_at.to_date%></td>
                      </tr>
                    <% end %>
                    <%@aux=history%>
                  <% end %>
                </tbody>
              </table>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>