<div id="forgot-password">
  <%= image_tag 'logo_colorida.svg' , class: "logo"%>
  <div class="container">
    <h1>Recuperar senha</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, "Informe seu email:" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions">
        <%= f.submit "Enviar", class: "btn btn-primary"  %>
      </div>
      <% end %>

      <%- if controller_name != 'sessions' %>
      <%= link_to "Login", new_session_path(resource_name), class: "login-button" %>
      <% end %>

  </div>

</div>