<header>
    <nav class="navbar navbar-expand-sm navbar-dark">

        <%= link_to image_tag("logo_colorida.svg"), root_path, class: "navbar-brand logo" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse nav-menu" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <%= link_to root_path, class: "nav-link" do %>
                    <i class="fas fa-home"></i>
                    <span class="title-link">Início</span><span class="sr-only">(current)</span>
                    <% end %>
                </li>
                <li class="nav-item active">
                    <%= link_to forums_path, class: "nav-link" do %>
                    <i class="fas fa-comments"></i>
                    <span class="title-link">Fórum</span><span class="sr-only">(current)</span>
                    <% end %>
                </li>
                <li class="nav-item dropdown">
                    <span class="nav-link dropdown-toggle dropdown-nav" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-tie"></i>
                        <span class="title-link">Diretorias</span>
                    </span>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <%= link_to "Projetos", directions_path + "/p", class: "dropdown-item"%>
                        <div class="dropdown-divider"></div>
                        <%= link_to "Operacao", directions_path + "/op", class: "dropdown-item"%>
                        <div class="dropdown-divider"></div>
                        <%= link_to "Gestão de Pessoas", directions_path + "/gp", class: "dropdown-item"%>
                    </div>
                </li>
                <li class="nav-item active">
                        <%= link_to cellules_path, class: "nav-link" do %>
                        <i class="fas fa-boxes"></i>
                        <span class="title-link">Células</span><span class="sr-only">(current)</span>
                        <% end %>
                </li>
                <li class="nav-item active">
                        <%= link_to users_path, class: "nav-link" do %>
                        <i class="fas fa-users"></i>
                        <span class="title-link">Membros</span><span class="sr-only">(current)</span>
                        <% end %>
                </li>
                <li class="nav-item active">
                        <%= link_to projects_path, class: "nav-link" do %>
                        <i class="fas fa-history"></i>
                        <span class="title-link">Histórico</span><span class="sr-only">(current)</span>
                        <% end %>
                </li>
                <li class="nav-item active">
                        <%= link_to destroy_user_session_path , method: :delete, class: "nav-link" do %>
                        <i class="fas fa-door-open"></i>
                        Sair<span class="sr-only">(current)</span>
                        <% end %>
                </li>
            </ul>

        </div>
    </nav>
</header>