<nav id="sidebar">
    <div class="sidebar-header">
        <%= link_to user_path(current_user.id) do %>
        <%if current_user.avatar_url%>
        <%=image_tag current_user.avatar_url, class: "avatar"%>
        <%else%>
        <%=image_tag "wolf-avatar.jpg", class: "avatar"%>
        <% end %>
        <%end%>
    </div>
    <div class="btn-group-vertical grupo-botao" role="group" aria-label="Basic example">
        <%= link_to new_article_path, class: "nav-link" do %>
        <button type="button" class="btn btn-primary button-sidebar">
            <i class="fas fa-plus"></i>
            Artigo
        </button>
        <% end %>
        <%= link_to new_forum_path, class: "nav-link" do %>
        <button type="button" class="btn btn-primary button-sidebar">
            <i class="fas fa-plus"></i>
            Pergunta
        </button>
        <% end %>
        <% link_projetos = user_path(current_user.id) + "#projects"%>
        <%= link_to link_projetos, class: "nav-link" do %>
        <button type="button" class="btn btn-primary button-sidebar">
            Meus Projetos
        </button>
        <% end %>
    </div>

    <div class="pesquisa">
        <% if current_page?("forum") or current_page?("tag")%>
        <%=form_tag forums_path, :method => 'get' do%>
        <%= text_field_tag :search, params[:search], placeholder: "Pesquise uma tag"%>
        <%= button_tag(type: "submit", class: "btn btn-primary button-sidebar") do %>
        <i class="fas fa-search"></i>
        <% end %>
        <% end %>
        <%else%>
        <%=form_tag articles_path, :method => 'get' do%>
        <%= text_field_tag :search, params[:search], placeholder: "Pesquise uma artigo" %>
        <%= button_tag(type: "submit", class: "btn btn-primary button-sidebar") do %>
        <i class="fas fa-search"></i>
        <% end %>
        <% end %>
        <% end %>
    </div>
</nav>
<div>
</div>