<%= form_with(model: project, local: true) do |f| %>
<% if project.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

  <ul>
    <% project.errors.full_messages.each do |message| %>
    <li>
      <%= message %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :director_id%>
  <%= f.collection_select :director_id, User.all, :id, :name, :include_blank=>true%>
</div>

<div class="field">
  <%= f.label :manager_id%>
  <%= f.collection_select :manager_id, User.all, :id, :name, :include_blank=>true%>
</div>

<div class="field">
  <%= f.label :condition %>
  <%= f.select :condition, option_condition_project, :include_blank => true%>
</div>



<div class="field">
  <%= f.label :description %>
  <%= f.text_area :description %>
</div>

<%= f.fields_for :tecnologies do |builder| %>
<%= render 'tecnology_fields', f: builder %>
<% end %>
<%= link_to_add_fields "Adicione uma tecnologia", f, :tecnologies %>

<div class="field">
  <%= hidden_field_tag "project[user_ids][]", nil%>
  <%= f.label "Integrantes" %>
  <% User.all.each do |user| %>
  <%= label_tag dom_id(user), user.name %>
  <%= check_box_tag "project[user_ids][]", user.id, @project.user_ids.include?(user.id), id: dom_id(user)%>
  <% end %>
</div>

<div class="actions">
  <%= button_tag(type: "submit", class: "btn btn-primary botao") do %>
  <i class="fas fa-plus"></i> Projeto
  <% end %>
</div>
<% end %>