<section class="projetos-page">

  <%= render 'shared/sidebar' %>

  <div class="projetos-container">

    <div class="projetos-header">
      <h1> <i class="fas fa-code"></i> Editar projeto</h1>
      <%= link_to new_project_path, class: "nav-link" do %>
      <button type="button" class="btn btn-primary button-projetos">
        <i class="fas fa-plus"></i>
        Projeto
      </button>
      <% end %>
    </div>

    <div class="projects projects-form cointainer">
        <%= render 'form', project: @project %>
    </div>


  </div>



</section>
