<section class="projetos-page">

  <%= render 'shared/sidebar' %>

  <div class="projetos-container">

    <div class="projetos-header">
      <h1> <i class="fas fa-code"></i> Projetos</h1>
      <%if can? :create, Project%>
      <%= link_to new_project_path, class: "nav-link" do %>
      <button type="button" class="btn btn-primary button-projetos">
        <i class="fas fa-plus"></i>
        Projeto
      </button>
      <% end %>
      <%end%>
    </div>

    <div class="projects cointainer">
      <% if @projects.where.not(condition: 'finished').length > 0%>
      <div class="ongoing">
        <h2>Em andamento</h2>
        <table>
          <tr>
            <th>Nome do Projeto</th>
            <!-- <th>Descrição</th> -->
            <th>Data de Inicio</th>
          </tr>
          <% for project in @projects.where.not(condition: 'finished')%>
          <tr>
            <td>
              <%= link_to project.name, project_path(project)%>
            </td>
            <td>
              <%=project.start.try(:strftime, ("%d/%m/%Y"))%>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
      <% end %>
      <% if @projects.where(condition: 'finished').length > 0 %>
      <div class="finished">
        <h2>Concluídos</h2>
        <table>
          <thead>
            <tr>
              <th>Nome do Projeto</th>
              <!-- <th>Descrição</th> -->
              <th>Data de Inicio</th>
              <th>Data de Conclusão</th>
            </tr>
            <% for project in @projects.where(condition: 'finished')%>
            <tr>
              <td>
                <%= link_to project.name, project_path(project)%>
              </td>
              <td>
                <%=project.start.try(:strftime, ("%d/%m/%Y"))%>
              </td>
              <td>
                <%=project.finish.try(:strftime, ("%d/%m/%Y"))%>
              </td>
            </tr>
            <% end%>
        </table>
      </div>
      <% end %>
    </div>
  </div>

</section>