<section class="projetos-page">

  <%= render 'shared/sidebar' %>

  <div class="projetos-container">

    <div class="projetos-header">
      <h1> <i class="fas fa-code"></i> Projeto
        <%=@project.name%>
      </h1>
      <%= link_to new_project_path, class: "nav-link" do %>
      <button type="button" class="btn btn-primary button-projetos">
        <i class="fas fa-plus"></i>
        Projeto
      </button>
      <% end %>
    </div>

    <div class="projects cointainer">

      <p>
        <span class="title">Descrição:</span>
        <%= @project.description %>
      </p>

      <p>
        <span class="title">Status:</span>
        <%= option_translate_project(@project.condition) %>
      </p>

      <p>
        <span class="title">Tecnologias:</span>
        <% @project.tecnologies.each do |tec| %>
        <ul>
          <li>
            <%=tec.name%>
          </li>
        </ul>
        <%end%>
      </p>

      <div class="usuarios-projeto">
        <span class="title">Membros:</span>
        <div class="usuario-avatar">
          <% @project.users.where.not(id: @project.director_id).where.not(id: @project.manager_id).each do |user| %>
          <div>
            <%= link_to user_path(user.id) do %>
            <div class="usuario">
              <% if user.avatar_url %>
              <%= image_tag user.avatar_url %>
              <% else %>
              <%= image_tag "wolf-avatar.jpg"%>
              <% end %>
              <%= user.name %>
            </div>
            <%end%>
          </div>
          <%end%>
        </div>
      </div>

      <div class="botoes">
        <% if can? :update, @project%>
        <%= link_to edit_project_path(@project) do %>
        <button type="button" class="btn btn-primary botao">
          <i class="far fa-edit"></i>
        </button>
        <% end %>
        <% end %>

        <%= link_to projects_path do %>
        <button type="button" class="btn btn-primary botao">
          <i class="fas fa-arrow-left"></i>
        </button>
        <% end %>

      </div>
    </div>


  </div>
</section>
<% @no_repeat=[]%>
<% for history in @project.history_users%>
  
  <%if !(@project.users.include? history.user) && !(@no_repeat.include? history.user)%>
    <%=history.user.name%>
    <%@no_repeat.append(history)%>
  <% end %>
<%end%>