<div id="login">
  <%= image_tag 'logo_colorida.svg' , class: "logo"%>
  <div class='container'>
    <h1>Login</h1>
  
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email, "E-mail:" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  
    <div class="field">
      <%= f.label :password, "Senha:" %>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
  
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <div class="field forgot-password">
        <%= link_to "Esqueci minha senha", new_password_path(resource_name) %>
    </div>
    <% end %>  

    <% if devise_mapping.rememberable? %>
    <div class="field remember-me">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me , "Mantenha-me conectado"%>
    </div>
    <% end %>


    <div class="actions">
      <%= f.submit "Entrar" %>
    </div>
    <% end %> 
  
  </div>
</div>
