<%= form_with(model: goal, local: true) do |form| %>
  <% if goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <%if current_page?(action:'edit')%>
      <h1>Editar meta</h1>
    <%else%>
      <h1>Nova meta</h1>
    <%end%>

    <div class="field">
      <%= form.hidden_field :direction_id %>
    </div>

    <div class="field">  
      <%= form.hidden_field :cellule_id %>
    </div>

    <div class="field">
      <h3><%= form.label :name %></h3>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <h3><%= form.label :description %></h3>
      <%= form.text_area :description %>
    </div>

    <div class='field'>
      <%= form.hidden_field :conclusion%>
    </div>
    <div class="actions">
      <%= form.submit "Salvar" %>
    </div>
  </div>
<% end %>
