<section id="forms">
    <%= render 'form', goal: @goal %>
    <% if !@goal.direction.nil? %>
        <%= link_to direction_path(@goal.direction.id) do %>
            <button type="button" class="btn btn-primary back">
                <i class="fas fa-arrow-left"></i>
            </button>
        <% end %>
    <% elsif !@goal.cellule.nil? %>
        <%= link_to cellule_path(@goal.cellule.id) do %>
            <button type="button" class="btn btn-primary back">
                <i class="fas fa-arrow-left"></i>
            </button>
        <% end %>
    <% else %>
        <%= link_to root_path do %>
            <button type="button" class="btn btn-primary back">
                <i class="fas fa-arrow-left"></i>
            </button>
        <% end %>
    <% end%>
</section>
