<%
=begin%>
 diretoria 
<%
=end%>

<section id="forms">
    <%= render 'form', goal: @goal %>
    <%= link_to direction_path(@direction) do %>
        <button type="button" class="btn btn-primary back">
            <i class="fas fa-arrow-left"></i>
        </button>
    <% end %>
</section>
