<%
=begin%>
 célula 
<%
=end%>
<section id="forms">
    <%= render 'form', goal: @goal %>
    <%= link_to cellule_path(@cellule) do %>
        <button type="button" class="btn btn-primary back">
            <i class="fas fa-arrow-left"></i>
        </button>
    <% end %>
</section>