<section id="content">
  <%= render 'shared/sidebar' %>


  <div id="page-content" class="container">

    <div class="page-header">
      <h1><i class="fas fa-check"></i> Meta</h1>
      <div class="header-buttons">
        <% if can? :manage, @goal%>
          <%= link_to new_goal_task_path(@goal.id) do %>
            <button type="button" class="btn btn-primary header-button small">
              <i class="fas fa-plus"></i> Tarefa
            </button>
          <% end %>
          <%= link_to edit_goal_path(@goal) do %>
            <button type="button" class="btn btn-primary header-button small">
              <i class="fas fa-edit"></i>
            </button>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="page-body">
      <div class="info-list">
        <div class="line">
          <h4>Nome:</h4> <p><%= @goal.name %></p>
        </div>

        <% if @goal.description %>
          <div class="line">
            <h4>Descrição:</h4> <p><%= @goal.description %><p>
          </div>
        <% end %>

        <div class="line">
          <h4>Estado:</h4>
          <% if @goal.conclusion%>
            <p>Concluido</p>
          <% else %>
            <p>A terminar</p>
          <% end %>
        </div>
      </div>

      <div class="tasks">
        <h2>Tarefas</h2>
        <div class="tasks-list">
          <% for task in @goal.tasks%>
            <div class="task-single">
              <%= task.name %>
              <div class="task-buttons">
                <div class="task-conclusion">      
                  <% if !task.conclusion%>
                    <% if can? :manage, @goal%>
                      <%=link_to confimation_goal_task_path(task.id),method: :post do %>
                        <button type="button" class="btn btn-primary task-button">
                          <i class="fas fa-check"></i>
                        </button>
                      <% end %>
                    <% end %>
                  <% else %>
                    <% if can? :manage, @goal%>
                      <%=link_to not_confimation_task_path(task.id),method: :post do %>
                        <button type="button" class="btn btn-primary task-button">
                          <i class="fas fa-times"></i>
                        </button>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
                <% if can? :manage, @goal%>
                  <div class="task-edit-button">
                    <%= link_to edit_task_path(task) do %>
                      <button type="button" class="btn btn-primary task-edit">
                        <i class="fas fa-edit"></i>
                      </button>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>


<% if @goal.direction%>
  <%= link_to direction_path(@goal.direction) do %>
    <button type="button" class="btn btn-primary back">
      <i class="fas fa-arrow-left"></i>
    </button>
  <% end %>
<% elsif @goal.cellule %>
  <%= link_to cellule_path(@goal.cellule) do %>
    <button type="button" class="btn btn-primary back">
      <i class="fas fa-arrow-left"></i>
    </button>
  <% end %>
<% else %>
  <%= link_to root_path do %>
    <button type="button" class="btn btn-primary back">
      <i class="fas fa-arrow-left"></i>
    </button>
  <% end %>
<% end %>
