@import url('https://fonts.googleapis.com/css?family=Strait');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$strait: 'Strait', sans-serif;
$open: 'Open Sans', sans-serif;
$comfortaa: 'Comfortaa', sans-serif;

$white: #FAFAFA; // fundo de tudo menos do fórum, cor das letras dos botões/tags
$l-gray: #EEE; // fundo dos comentários
$m-gray: #E5E5E5; // fundo do fórum
$d-gray: #666; // linhas divisórias, quantidades (likes e dislikes, comentários), "tags", "postado por", etc
$accents: #9D9D9D; // linhas pontilhadas, data, icon do título do artigo, área (conhecimento), texto da barra de busca
$black: #1D1616; // cor da letra do corpo, fundo do site
$timber: #5595D4; // botões, fundo de tags
$alpha: #225599; // links
$manso: #00326C; // headers
$green: #eef7e3; // projetos em andamento
$t-hover: #78B5F1; // timber hover
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); // box-shadows (botões)
$i-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25); // input shadows
$border: 1px solid #C4C4C4; // borda de inputs
