/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
  */

// Custom bootstrap variables must be set or imported *before* bootstrap.


@import "variables";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "login";
@import "header";
@import "sidebar";
@import "forums";
@import "articles";
@import "directions";
@import "users";
@import "projects";
@import "forms";
@import "cellules";
@import "goals";

// *= require font-awesome
// @import "font-awesome";
// @import "./fontawesome/scss/fontawesome.scss";
// @import "./fontawesome/scss/solid.scss";
// @import "./fontawesome/scss/brands.scss";


#error_explanation{
  text-align: left;

  h2{
    font-weight: bold;
    padding-bottom: 10px;
  }
}

body{
  color: white;
  min-height: 100vh;
  background: {
    color: $black;
    image: url('lobo.svg');
    position: right bottom;
    repeat: no-repeat;
    attachment: fixed;
  }

  input, textarea, select{
    color: $black;
  }
}

@media only screen and (max-width: 768px) and (max-height: 1023px){
  body{
    background-image: none;
  }
}

@media only screen and (max-width: 1100px) and (max-height: 700px) {
  body{
    background-image: none;
  }
}

.home{
  width: 80%;
  margin: 0 auto;
}