// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#artigos {
    flex-flow: column;
}

.home .artigos #artigos{
    width: 80%;
}

.artigos #artigos{
    width: 64%;
    margin: 0;
}

.artigo-new {
    text-align: center;
}

.artigo>div {
    margin: 10px 0;
}

.artigo {
    flex-flow: column;
    color:$black;
    background-color: $white;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.artigo-individual .artigo {
    border-radius: 0;
    border-bottom: 1px dashed $accents;
    margin-bottom: 0;
}

.artigo .title a {
    color:$black;
    font-family: $open;
    font-family: 15px;
}

.artigo .title {
    font-weight: bold;
    font-size: 24px;
}

.artigo .area {
    font-family: $strait;
    color: $accents;
    text-transform: uppercase;
}

.home,
.artigos,
.artigo-individual {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
}

.artigo-individual #artigo{
    width: 64%;
    margin: 0;
}

.artigos .artigo-new input[type="text"] {
    background: $white;
    height: 88px;
    resize: none;
    border: 1px solid $d-gray;
    box-sizing: border-box;
    box-shadow: inset $shadow;
    border-radius: 10px;
}

.artigos .artigo-new label {
    font-family: $strait;
    font-size: 15px;
    color: $d-gray;
    margin-right: 5px;
}

.artigos .artigo-new input[type="text"] {
    height: 35px;
    flex-grow: 1;

}

.artigos .artigo-new {
    margin: 0;
}

.artigos .artigo-new .field {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.artigos .artigo-new .botao {
    background: $timber;
    box-shadow: $shadow;
    border-radius: 5px;
    font-size: 14px;
    font-family: $strait;
    text-transform: uppercase;
}

.artigo-header {
    display: flex;
    background: #00326C;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    font-family: $strait;
    text-transform: uppercase;
    align-items: center;
    padding: 0 20px;
}

.artigo-header h1 {
    font-size: 18px;
}

.artigo-new {
    padding: 20px;
    background-color: $m-gray;
    border-bottom: 1px dashed $accents;
    display: flex;
    justify-content: space-between;
}


.artigos {

    .user img {
        width: 60px;
        height: 60px;
        margin-bottom: 8px;
        border-radius: 50%;
        margin-right: 15px;
    }

    .user {
        text-transform: uppercase;
        font-size: 15px;
        margin-right: 10px;
        display: flex;
        flex-flow: row;
        justify-content: center;
        color: $d-gray;
        align-items: center;
    }

    .user .nome {
        color: #00326C;
    }

    .footer-artigo {
        padding: 20px 0;
        font-family: $strait;
        display: flex;
        margin: 0 5px;
        border-top: 1px dashed $accents;
        justify-content: space-between;
    }

    .title i {
        color: $accents;
    }

    .content {
        // text-align: justify;
    }

    .like,
    .dislike,
    .comment,
    .editar,
    .excluir {
        display: flex;
        flex-flow: column;
        margin-right: 10px;
    }

    .editar,
    .apagar {
        align-self: self-start;
    }

    .botoes {
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        align-items: center;
        font-size: 14px;
        margin-left: 10px;
        text-align: center;
        color: $accents;
    }

    .quem {
        display: flex;
    }

    .user p {
        margin: 0;
    }

    .artigo button {
        width: 40px;
        height: 40px;
        font-size: 13px;
        background: $timber;
        box-shadow: $shadow;
        border-radius: 5px;
    }

}



#artigo {
    .button-artigo {
        width: 145px;
        height: 35px;
        background: $timber;
        box-shadow: $shadow;
        border-radius: 5px;
        font-size: 14px;
        font-family: $strait;
        text-transform: uppercase;
    }
}

.artigo-individual {
    .user img {
        width: 60px;
        height: 60px;
        margin-bottom: 8px;
        margin-right: 0;
        border-radius: 50%;
    }

    .comentario .user {
        // width: 60px;
        font-family: $strait;
        text-transform: uppercase;
        font-size: 13px;
        color: #00326C;
        text-align: center;
        margin-right: 10px;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    .botoes {
        justify-content: flex-end;
    }


    .comment-area textarea {
        width: 100%;
    }

    .comentario {
        padding: 20px;
        border-bottom: 1px dashed $accents;
        display: flex;
        justify-content: flex-start;
        font-family: $open;
        font-family: 15px;
        color:$black;
        align-items: center;
    }

    .comentario button {
        text-align: center;
        width: 40px;
        height: 40px;
        font-size: 13px;
        background: $timber;
        box-shadow: $shadow;
        border-radius: 5px;
        flex-grow: 1;
    }

    .comentario .apagar {
        flex-grow: 1;
        align-self: center;
        text-align: right;
    }

    .comentario .content {
        margin-right: 10px;
    }

}

.artigo-individual .comentarios {
    background-color: $white;
}

.artigo-individual .form-comentario {
    padding: 20px;
    text-align: center;
}

.artigo-individual .form-comentario .comment-area {
    width: 80%;
    margin: 0 auto 10px auto;
}

.artigo-individual .form-comentario .comment-area textarea {
    background: $white;
    height: 88px;
    resize: none;
    border: 1px solid $d-gray;
    box-sizing: border-box;
    box-shadow: inset $shadow;
    border-radius: 10px;
}

.artigo-individual .form-comentario .comment-area textarea {
    width: 100%;
}

.artigo-individual .form-comentario .botao {
    background: $timber;
    box-shadow: $shadow;
    border-radius: 5px;
    font-size: 14px;
    font-family: $strait;
    text-transform: uppercase;
}

.artigo .content img {
    max-width: 100%;
    height: auto !important;
}


@media only screen and (max-width: 875px) {

    .home {
        width: 95% !important;
    }

    .artigos {
        width: 100%;
    }

    .artigos #artigos{
        width: 95% !important;
    }

    .artigo-individual {
        width: 95%;
    }

    .container {
        padding: 0;
        margin: 0;
        margin: 0 auto;
    }

    #artigos, #artigo {
        width: 100% !important;
        margin: 0 auto !important;
    }
}

@media only screen and (max-width: 430px) {
    .footer-artigo .user {
        img {
            display: none;
        }
    }
}

@media only screen and (max-width: 580px) {
    .artigo-header button {
        display: none;
    }
}