.celulas{

    .page-body{
        padding: 20px;
    }

    .page-header {
        .header-button {
            padding: 5px 20px;
            background: $timber;
            box-shadow: $shadow;
            border-radius: 5px;
            font: {
                size: 1em;
                family: $strait;
            }
            text-transform: uppercase;
            &:hover {
                background-color: $t-hover;
                box-shadow: none;
                transform: translateY(2px);
                transition: .2s;
            }
        }
        & h1{
            font-size: 18px;
        }
    }

    & table {
        width: 100%;

        & tr {
            background-color: $white;
            border-bottom: 1px solid $m-gray;
        }

        & th {
            background-color: $l-gray;
            font-family: $strait;
        }

        & td {
            font-family: $strait;
            padding: 5px;
        }

        & td a{
            color: $black;
            &:hover {
                text-decoration: none;
                color: $alpha;
            }
        }
    }
}