#content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    & .page-header {
        display: flex;
        background: $manso;
        height: 50px;
        width: 80%;
        justify-content: space-between;
        text-transform: uppercase;
        align-items: center;
        padding: 0 20px;
        border-top: {
            left-radius: 5px;
            right-radius: 5px;
        }
        & h1 {
            font: {
                size: 1.4em;
                family: $strait;
            }
            transform: translateY(4px);
        }
        .header-button {
            padding: 5px 20px;
            background: $timber;
            box-shadow: $shadow;
            border-radius: 5px;
            font: {
                size: 1em;
                family: $strait;
            }
            text-transform: uppercase;
            &:hover {
                background-color: $t-hover;
                box-shadow: none;
                transform: translateY(2px);
                transition: .2s;
            }
            &.small {
                padding: 3px 4px 3px 8px;
            }
        }
    }
    & .page-body {
        width: 80%;
        background-color: $white;
        text-align: center;
        color: $black;
        border-bottom: {
            left-radius: 5px;
            right-radius: 5px;
        }
        & h2 {
            padding: 10px 0;
            font: {
                family: $strait;
                size: 1.3em;
                weight: bold;
            }
        }
        & .members {
            display: flex;
            padding: 10px 0;
            flex-flow: row wrap;
            justify-content: space-evenly;
            & .member {
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                font: {
                    family: $strait;
                    size: 1em;
                }
                & img {
                    margin-bottom: 5px;
                    border-radius: 50%;
                    width: 120px;
                }
                & a {
                    color: $alpha;
                }
            }
        }
        & .separator {
            content: '';
            display: block;
            margin: 10px auto;
            width: 95%;
            border-bottom: dashed 1px $accents;
        }
        & h3 {
            font: {
                family: $strait;
                size: 1.5em;
            }
            padding: 50px 0;
        }
    }
}