#forms {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 5px 0 20px;
    & .container {
        display: flex;
        flex-flow: column wrap;
        border-radius: 30px;
        background-color: $white;
        padding: 30px;
        color: $black;
        font: {
            family: $comfortaa;
            size: 1em;
        }
        & h1 {
            font: {
                family: $strait;
                size: 2em;
            }
            text-transform: uppercase;
            align-self: center;
            margin-top: -10px;
        }
        & h3 {
            display: inline-block;
            font-size: 1em;
            line-height: 1em;
            margin: 0;
            &.file-upload {
                display: block;
            }
        }
        & p.password-alert {
            font-style: italic;
        }
        & .field:not(:first-child) {
            margin: 10px 0 5px;
        }
        & select {
            appearance: none;
            background-color: $l-gray;
            width: 100%;
            border-radius: 15px;
            border: $border;
            padding: 5px 10px;
            background: {
                image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
                position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
                size: 5px 5px, 5px 5px, 1px 1.5em;
                repeat: no-repeat;
            }
        }
        & input:not([type=file]) {
            width: 100%;
            padding: 5px 10px;
            border-radius: 15px;
            border: $border;
            box-shadow: $i-shadow;
        }
        & input[type=submit] {
            background-color: $timber;
            color: $white;
            text-transform: uppercase;
            font: {
                family: $strait;
                size: 1.2em;
            }
            margin-top: 20px;
            border-radius: 30px;
            padding: 10px 20px;
            width: auto;
            box-shadow: $shadow;
            cursor: pointer;
            transition: .2s;
            &:hover {
                background-color: $t-hover;
                box-shadow: none;
                transform: translateY(2px);
                transition: .2s;
            }
        }
        & textarea {
            width: 100%;
            border-radius: 15px;
            border: $border;
            box-shadow: $i-shadow;
            padding: 5px 10px;
            height: 100px;
            resize: none;
            margin-bottom: -15px;
        }
        & .actions {
            align-self: center;
        }
    }
}

button.back {
    background-color: $timber;
    margin-top: 30px;
    transform: translateY(-5px);
    border: solid 1px transparent;
    box-shadow: $shadow;
    transition: .2s;
    &:hover {
        background-color: $t-hover;
        box-shadow: none;
        transform: translateY(-4px);
        transition: .2s;
    }
}