// Place all the styles related to the Forums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.forum,
.forum-individual{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;


    .button-forum {
        width: 145px;
        height: 35px;
        background: $timber;
        box-shadow: $shadow;
        border-radius: 5px;
        font-size: 14px;
        font-family: $strait;
        text-transform: uppercase;
    }

    .user {
        width: 60px;
    }

    .post a {
        color:$black;
    }

    .post,
    .comentario{
        padding: 20px;
        background-color: $m-gray;
        border-bottom: 1px dashed $accents;
        display: flex;
        justify-content: space-between;
    }


    .user img {
        width: 60px;
        height: 60px;
        margin-bottom: 8px;
        border-radius: 50%;
    }

    #forum{
        width: 64%;
        margin: 0;
    }

    .content {
        font-family: $open;
        line-height: 16px;
        font-size: 14px;
        color:$black;

    }

    .content .tags {
        font-family: $strait;
        font-size: 15px;
        color: $d-gray;
    }

    .content .tags a {
        background: $timber;
        border-radius: 10px;
        color: $white;
    }

    .user {
        font-family: $strait;
        text-transform: uppercase;
        font-size: 13px;
        color: #00326C;
        text-align: center;
        margin-right: 10px;
    }

    .extra-info,
    .botoes {
        flex-grow: 1;
        flex-flow: column;
        flex-wrap: nowrap;
        align-items: flex-end;
        font-family: $strait;
        font-size: 14px;
        margin-left: 10px;
        color: $accents;

    }

    .extra-info .info {
        display: flex;
        flex-wrap: wrap;
        width: 90px;
    }

    .extra-info .info .extra {
        width: 100%;
        display: flex;
        flex-flow: row;
        margin-top: 5px;
        justify-content: space-between;
    }


    .user,
    .content,
    .extra-info,
    .like,
    .dislike {
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    .botoes > div{
        margin: 5px 0;
    }

    .forum-header {
        display: flex;
        background: #00326C;
        height: 50px;
        width: 100%;
        justify-content: space-between;
        font-family: $strait;
        text-transform: uppercase;
        align-items: center;
        padding: 0 20px;
    }

    .forum-header h1{
        font-size: 18px;
    }

}

.forum-individual .botoes {
    display: flex;
    text-align: center;
}

.forum-individual .botoes span {
    align-self: center;
}

.forum-individual .botoes button,
.forum-individual .comentarios button {
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 13px;
    background: $timber;
    box-shadow: $shadow;
    border-radius: 5px;
}

.forum-individual .comentario .apagar {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-self: center;
}

.forum-individual .comentarios {
    background-color: $l-gray;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
}


.forum-individual .comentario {
    background-color: $l-gray;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    font-family: $open;
    line-height: 16px;
    font-size: 14px;
    color:$black;
}

.forum-individual .comentario .user {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.forum-individual .form-comentario {
    padding: 20px;
    text-align: center;
}

.forum-individual .form-comentario .comment-area {
    width: 80%;
    margin: 0 auto 10px auto;
}

.forum-individual .form-comentario .comment-area textarea,
#forum .new textarea,
#forum .new .tag input{
    background: $white;
    height: 88px;
    resize: none;
    border: 1px solid $d-gray;
    box-sizing: border-box;
    box-shadow: inset $shadow;
    border-radius: 10px;
}

.forum-individual .form-comentario .comment-area textarea{
    width: 100%;
}
#forum .new textarea {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    
}

#forum .new {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#forum .new .tag {
    display: flex;
    flex-flow: row nowrap;
}

#forum .new .tag label,
#artigo .artigo-new label{
    font-family: $strait;
    font-size: 15px;
    color: $d-gray;
    margin-right: 5px;
}

#forum .new .tag input{
    height: 35px;
    flex-grow: 1;
    
}



.forum-individual .form-comentario .botao,
#forum .new .botao{
    background: $timber;
    box-shadow: $shadow;
    border-radius: 5px;
    font-size: 14px;
    font-family: $strait;
    text-transform: uppercase;
}

#forum .new .submit{
    margin-top: 10px;
    text-align: center;
}



@media only screen and (max-width: 875px) {
   
    .forum, .forum-individual  {
        width: 95% !important;
    }

    .container{
        margin: 0 auto;
    }

    #forum{
        width: 100% !important;
        margin: 0 auto !important;
    }

}
