// Place all the styles related to the Goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#content .page-body {
    & .goals {
        margin: {
            right: 20px;
            left: 20px;
        }
        text-align: left;
        & h2 {
            display: inline;
            font: {
                size: 1.75em;
                weight: normal;
            }
        }
        & .edit-goal {
            background-color: $timber;
            padding: 3px 4px 3px 8px;
            margin: 1px;
            border: solid 1px transparent;
            box-shadow: $shadow;
            font-size: .5em;
            transform: .2s;
            &:hover {
                background-color: $t-hover;
                box-shadow: none;
                transform: translateY(1px);
                transition: .2s;
            }
        }
        & .goals-list {
            display: flex;
            flex-flow: column wrap;
            padding-bottom: 20px;
            & .goal-single {
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                &:nth-child(odd) {
                    background-color: $l-gray;
                }
                & p {
                    margin: {
                        bottom: 0;
                        left: 5px;
                    }
                    font: {
                        family: $open;
                        size: .7em;
                    }
                    flex: 0 1 85%;
                }
            }
        }
    }
    & .info-list {
        text-align: left;
        padding: 20px;
        & .line {
            margin-bottom: 10px;
            & h4 {
                font: {
                    weight: bold;
                    size: 1em;
                }
                display: inline-block;
                margin-bottom: 0;
            }
            & p {
                display: inline-block;
                margin-bottom: 0;
            }
        }
    }
    & .tasks {
        padding: 20px;
        margin-top: -20px;
        text-align: left;
        & h2 {
            font: {
                size: 1.7em;
                weight: normal;
            }
            margin-bottom: 0;
        }
        & .tasks-list {
            display: flex;
            flex-flow: column wrap;
            padding-bottom: 20px;
            & .task-single {
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: space-between;
                &:nth-child(odd) {
                    background-color: $l-gray;
                }
                & .task-buttons {
                    display: flex;
                    & .task-button {
                        background-color: $timber;
                        border: solid 1px transparent;
                        box-shadow: $shadow;
                        font-size: .8em;
                        transition: .2s;
                        margin: 5px 0;
                        &:hover {
                            background-color: $t-hover;
                            box-shadow: none;
                            transform: translateY(1px);
                            transition: .2s;
                        }
                    }
                    & .task-edit {
                        background-color: $timber;
                        border: solid 1px transparent;
                        box-shadow: $shadow;
                        font-size: .8em;
                        transform: .2s;
                        padding: 6px 9px 6px 8px;
                        margin: 5px 1px;
                        &:hover {
                            background-color: $t-hover;
                            box-shadow: none;
                            transform: translateY(1px);
                            transition: .2s;
                        }
                    }
                }
            }
        }
    }
    .back {
        background-color: $timber;
        margin-top: 30px;
        transform: translateY(-5px);
        border: solid 1px transparent;
        box-shadow: $shadow;
        transition: .2s;
        &:hover {
            background-color: $t-hover;
            box-shadow: none;
            transform: translateY(-4px);
            transition: .2s;
        }
    }
}
