header {
    background-color: #00326C;
    margin-bottom: 17px;
}

header nav {
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

header nav ul {
    margin: 0;
}

header .logo img {
    height: 40px;
    filter: brightness(0) invert(1);
}

.nav-menu {
    text-transform: uppercase;
    justify-content: flex-end;
    font-size: 18px;
    font-family: $strait;
    color: $white;
}

.dropdown-nav {
    color: white;
    cursor: pointer;
}

header .navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active,
header .navbar-dark .navbar-nav .nav-link,
header .navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color: $white;
}

@media screen and (max-width: 1045px){
    header nav{
        width: 100%;
    }
}

@media screen and (min-width:574px) and (max-width: 835px){
    header .title-link{
        display: none;
    }
}

