#login,
#forgot-password {
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

    input{
        color: black;
    }
    
    .logo {
        height: 75px;
        margin-bottom: 40px;
    }
    .container {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        border-radius: 30px;
        background-color: #FEFEFE;
        padding: 35px 26px;
        box-sizing: border-box;
        color:$black;
        margin: 0 auto;
        text-align: center;
    }
    h1 {
        font-family: $strait;
        font-size: 36px;
        margin-bottom: 25px;
        align-self: center;
        text-align: center;
        text-transform: uppercase;
    }
    form,
    a {
        font-family: $comfortaa;
        font-size: 14px;
        width: 100%;
    }
    form label,
    input[type="email"] {
        margin-bottom: 12px;
        display: block;
    }
    input[type="submit"] {
        box-shadow: $shadow;
        color: #FEFEFE;
        font-size: 18px;
        text-transform: uppercase;
        font-family:  $strait , sans-serif;        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 28px;
        background-color: $timber;
        width: 149px;
        align-self: center;
        height: 45px;
    }
}

#login form label,
#login .forgot-password a,
#forgot-password form label {
    text-align: left;
    padding-left: 5px;
}

#login form label,
#login input[type="email"],
#forgot-password form label {
    margin-bottom: 12px;
}

#login input[type="email"],
#login input[type="password"],
#forgot-password input[type="email"] {
    width: 100%;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    padding-left: 10px;
    box-sizing: border-box;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 28px;
}

#login .remember-me,
#login .forgot-password a,
#forgot-password .login-button {
    font-size: 12px;
    color: #0066CC;
}

#login .remember-me {
    display: flex;
}

#forgot-password form {
    margin-bottom: 10px;
}

#login .forgot-password a {
    display: block;
}

#login .forgot-password {
    margin: 11px 0 5px 0;
}

@media only screen and (min-width: 420px) {
    #login,
    #forgot-password {
        .container {
            max-width: 400px;
        }
    }
}

@media only screen and (max-width: 420px) {
    #login,
    #forgot-password {
        .container {
            width: 90%;
        }
    }
}