.projetos-page {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    font-family: $strait;
    font-size: 15px;

    .projetos-container {
        width: 64%;
    }

    .projetos-header {
        display: flex;
        background: #00326C;
        height: 50px;
        width: 100%;
        justify-content: space-between;
        font-family: $strait;
        text-transform: uppercase;
        align-items: center;
        padding: 0 20px;
    }

    .projetos-header h1 {
        font-size: 18px;
    }

    .button-projetos {
        width: 145px;
        height: 35px;
        background: $timber;
        box-shadow: $shadow;
        border-radius: 5px;
        font-size: 14px;
        font-family: $strait;
        text-transform: uppercase;
    }

    .projects {

        background-color: $white;
        color: $black;
        padding: 20px;

        a {
            color: $black;
        }

        & h2 {
            font: {
                family: $strait;
                size: 1.5em;
            }
        }

        & .ongoing {
            padding-bottom: 10px;

            & table {
                width: 100%;

                & tr {
                    background-color: $white;
                    border-bottom: 1px solid $m-gray;
                }

                & th {
                    background-color: $l-gray;
                    font-family: $strait;
                }


                & td {
                    padding: 5px;
                }
            }
        }

        & .finished {
            padding-bottom: 20px;

            & table {
                width: 100%;

                & tr {
                    background-color: $white;
                    border-bottom: 1px solid $m-gray;
                }

                & th {
                    background-color: $l-gray;
                    font-family: $strait;
                }

                & td {
                    padding: 5px;
                }
            }
        }

    }

    .projects input[type="text"],
    select,
    textarea {
        background: $white;
        border: 1px solid $d-gray;
        box-sizing: border-box;
        box-shadow: inset $shadow;
        border-radius: 10px;
        height: 30px;
    }

    textarea {
        resize: none;
        height: 80px;
    }

    .projects {
        display: flex;
        flex-flow: column;
    }

    .projects-form {
        font-family: $strait;
        color: $black;
    }

    .projects .field label {
        margin-right: 5px;
        margin-bottom: 0;
    }

    .projects .field {
        display: flex;
        flex-flow: row;
        align-items: center;
        flex-wrap: wrap;
        margin: 10px 0;
    }

    .botao {
        background: $timber;
        box-shadow: $shadow;
        border-radius: 5px;
        font-size: 14px;
        font-family: Strait;
        text-transform: uppercase;
    }

    .actions {
        display: flex;
        justify-content: center;
    }

    .botoes {
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: flex-end;
        margin-left: 10px;
        color: $accents;
    }

    .botao {
        background: $timber;
        box-shadow: $shadow;
        border-radius: 5px;
        font-size: 14px;
    }

    .botao:first-of-type{
        margin-right: 10px;
    }

    .usuario-avatar img{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin: 5px;
    }

    .usuario-avatar .usuario{
        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
        align-items: center;
        color: #0066CC;
        font-size: 16px;
        font-family: "Strait", sans-serif;
        text-transform: uppercase; 
        margin: 0 5px;
    }

    .title{
        font-weight: bold;
    }

    .usuarios-projeto{
        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .usuario-avatar{
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .usuarios-projeto .title{
        text-align: center;
        margin-bottom: 10px;
        font-size: 18px;
    }

}

@media only screen and (max-width: 875px) {

    .projetos-page {
        width: 95%;
    }

    .projetos-container {
        width: 100% !important;
    }

}