#sidebar {
    width: 200px;
    height: 440px;
    background-color: $white;
    border-radius: 5px;
    font-family: $strait;
    font-size: 20px;
    color: $white;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

#sidebar #search {
    background: $white;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    height: 45px;
    overflow: hidden;
    font-family: $open;
    font-size: 13px;
    padding: 0 5px;
    color: black;
}

#sidebar form {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    width: 180px;
    padding: 10px 0;
}


#sidebar .button-sidebar {
    background: $timber;
    box-shadow: $shadow;
    border-radius: 5px;
    text-transform: uppercase;
    height: 45px;
}

#sidebar .grupo-botao .button-sidebar {
    width: 180px;
}

#sidebar .avatar {
    border-radius: 5px;
    width: 150px;
    height: 150px;
}


/* OK, here's the good stuff. Start with fallback for browsers that don't support -webkit-line-clamp */
.clampMe {
    position: relative;
    height: 2.4em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clampMe:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 1.2em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 80%);
}

/* Now add in code for the browsers that support -webkit-line-clamp and overwrite the non-supportive stuff */
@supports (-webkit-line-clamp: 2) {
    .clampMe {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .clampMe:after {
        display: none;
    }
}

#tag_cloud {
    width: 400px;
    line-height: 1.6em;

    .s {
        font-size: 0.8em;
    }

    .l {
        font-size: 1.2em;
    }

    .m {
        font-size: 1.6em;
    }
}

#sidebar .sidebar-header {
    background-image: url("avatar-bg.png");
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

#sidebar .grupo-botao {
    padding: 10px 0;
}

@media only screen and (max-width: 875px) {

    .sidebar-header {
        display: none;
    }

    #sidebar {
        width: auto;
        height: auto;
        background-color: unset;
        margin: 0;
    }

    #sidebar form {
        width: 100%;
    }

    #sidebar .pesquisa {
        width: 95%;
    }

    #sidebar #search {
        flex-grow: 1;
    }

    #sidebar .grupo-botao {
        flex-flow: row;
        width: 100%;
    }

    #sidebar .grupo-botao .nav-link,
    #sidebar .grupo-botao .nav-link button {
        width: 100%;
        height: auto;
    }

    #content,
    .home,
    .forum,
    .forum-individual,
    .artigos,
    .usuarios,
    .projetos-page {
        flex-flow: column;
    }

}

@media (min-width: 576px) {
    .container {
        max-width: none;
    }
}


@media only screen and (max-width: 875px) {

    #content{
        width: 95% !important;
        margin: 0 auto !important;
    }

    #page-content, .page-header, .page-body, .profile-header, .profile-body{
        width: 100% !important;
    }



}