// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*LOGIN*/

.usuarios {
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: flex-start;
    .usuarios-header {
        display: flex;
        background: #00326C;
        height: 50px;
        justify-content: space-between;
        font-family: $strait;
        text-transform: uppercase;
        align-items: center;
        padding: 0 20px;
    }
    .todos-usuarios {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .usuarios-header h1 {
        font-size: 18px;
    }
    #usuarios {
        width: 64%;
        background-color: $white;
    }
    .usuario {
        padding: 20px;
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .usuario img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }
    .usuario{
        color: #0066CC;
        font-size: 16px;
        font-family: $strait;
        text-transform: uppercase;
    }
    .button-membro {
        width: 145px;
        height: 35px;
        background: $timber;
        box-shadow: $shadow;
        border-radius: 5px;
        font-size: 14px;
        font-family: $strait;
        text-transform: uppercase;
    }
}

@media only screen and (max-width: 875px) {
   
    .usuarios{
        width: 95%;
    }

    #usuarios{
        width: 100% !important;
        margin: 0 auto;
    }
}

.profile-header {
    background-image: linear-gradient($manso 60%, $white 40%);
    width: 80%;
    height: 200px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    border-top: {
        left-radius: 5px;
        right-radius: 5px;
    }
    & img {
        width: 180px;
        border-radius: 5px;
        margin: 0 10px;
    }
    & h1 {
        font: {
            family: $strait;
            size: 2em;
        }
    }
    & .edit {
        background-color: $timber;
        padding: 3px 4px 3px 8px;
        margin: 15px;
        transform: translateY(-5px);
        border: solid 1px transparent;
        box-shadow: $shadow;
        transition: .2s;
        &:hover {
            background-color: $t-hover;
            box-shadow: none;
            transform: translateY(-4px);
            transition: .2s;
        }
    }
    & .fusion {
        background-color: $timber;
        padding: 3px 7px;
        margin: 1px;
        transform: translateY(-5px);
        border: solid 1px transparent;
        box-shadow: $shadow;
        transform: .2s;
        &:hover {
            background-color: $t-hover;
            box-shadow: none;
            transform: translateY(-4px);
            transition: .2s;
        }
    }
}

.profile-body {
    background-color: $white;
    color: $black;
    width: 80%;
    margin-bottom: 20px;
    border-bottom: {
        left-radius: 5px;
        right-radius: 5px;
    }
    font: {
        family: $open;
        size: 1em;
    }
    & table {
        width: 95%;
        margin: 0 auto;
        table-layout: fixed;
        & p {
            display: inline-block;
            font-weight: bold;
        }
        & td.cell {
            width: 100%;
        }
    }
    & .cells, .skills {
        display: table;
        width: 95%;
        margin: 0 auto;
        padding-bottom: 10px;
        line-height: .4em;
        & p {
            display: inline-block;
            font-weight: bold;
        }
    }
    & .projects, .history {
        width: 95%;
        margin: 0 auto;
        & i {
            font-size: .8em;
        }
        & h2 {
            font: {
                family: $strait;
                size: 1.75em;
            }
        }
        & h3 {
            font: {
                family: $strait;
                size: 1.5em;
            }
        }
        & .ongoing {
            padding-bottom: 10px;
            & table {
                width: 100%;
                & tr:nth-child(odd) {
                    background-color: $green;
                }
                & td {
                    padding: 5px;
                    & a:hover {
                        text-decoration: none;
                        color: $manso;
                    }
                }
            }
        }
        & .finished {
            padding-bottom: 20px;
            & table {
                width: 100%;
                & tr:nth-child(odd) {
                    background-color: $l-gray;
                }
                & td {
                    padding: 5px;
                    & a:hover {
                        text-decoration: none;
                    }
                }
            }
        }
        & .history-d, .history-c {
            padding-bottom: 10px;
        }

    }    
}

@media only screen and (max-width: 500px){
    #forms{
        width: 95%;
        margin: 0 auto;
    }

    #forms form{
        width: 100%;
        .field, .field input[type="file"]{
            width: 100%;
        }
    }
}

.fusao{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    font-family: $strait;

    #fusao{
        width: 64%;
        margin: 0;
    }

    .fusao-header {
        display: flex;
        background: #00326C;
        height: 50px;
        width: 100%;
        justify-content: space-between;
        font-family: $strait;
        text-transform: uppercase;
        align-items: center;
        padding: 0 20px;
    }

    .fusao-header h1{
        font-size: 18px;
    }

    .new{
        padding: 20px;
        background-color: $m-gray;
        border-bottom: 1px dashed $accents;
        display: flex;
        justify-content: space-between;
    }

    .botao{
        background: $timber;
        box-shadow: $shadow;
        border-radius: 5px;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;    
    }

    .field{
        color: $black;
    }
}